RWBTask.DB/obj/Debug/RWBTask.DB.dll
RWBTask.DB/obj/Debug/RWBTask.DB.pdb
RWBTask.DB/obj/Debug/RWBTask.DB.sqlproj.FileListAbsolute.txt
RWBTaskApi/bin/Antlr3.Runtime.dll
RWBTaskApi/bin/Antlr3.Runtime.pdb
RWBTaskApi/bin/ApplicationInsights.config
RWBTaskApi/bin/EntityFramework.dll
RWBTaskApi/bin/EntityFramework.xml
RWBTaskApi/bin/Microsoft.AI.Agent.Intercept.dll
RWBTaskApi/bin/Microsoft.AI.DependencyCollector.dll
RWBTaskApi/bin/Microsoft.AI.DependencyCollector.xml
RWBTaskApi/bin/Microsoft.AI.PerfCounterCollector.dll
RWBTaskApi/bin/Microsoft.AI.ServerTelemetryChannel.dll
RWBTaskApi/bin/Microsoft.AI.ServerTelemetryChannel.xml
RWBTaskApi/bin/Microsoft.AI.Web.dll
RWBTaskApi/bin/Microsoft.AI.Web.xml
RWBTaskApi/bin/Microsoft.AI.WindowsServer.dll
RWBTaskApi/bin/Microsoft.AI.WindowsServer.xml
RWBTaskApi/bin/Microsoft.ApplicationInsights.dll
RWBTaskApi/bin/Microsoft.ApplicationInsights.xml
RWBTaskApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
RWBTaskApi/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
RWBTaskApi/bin/Microsoft.Web.Infrastructure.dll
RWBTaskApi/bin/Newtonsoft.Json.dll
RWBTaskApi/bin/Newtonsoft.Json.xml
RWBTaskApi/bin/roslyn/csc.exe
RWBTaskApi/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
RWBTaskApi/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
RWBTaskApi/bin/roslyn/Microsoft.CodeAnalysis.dll
RWBTaskApi/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
RWBTaskApi/bin/roslyn/Microsoft.CSharp.Core.targets
RWBTaskApi/bin/roslyn/Microsoft.VisualBasic.Core.targets
RWBTaskApi/bin/roslyn/System.Collections.Immutable.dll
RWBTaskApi/bin/roslyn/System.Reflection.Metadata.dll
RWBTaskApi/bin/roslyn/vbc.exe
RWBTaskApi/bin/roslyn/VBCSCompiler.exe
RWBTaskApi/bin/roslyn/VBCSCompiler.exe.config
RWBTaskApi/bin/RWBTaskApi.dll
RWBTaskApi/bin/RWBTaskApi.dll.config
RWBTaskApi/bin/RWBTaskApi.pdb
RWBTaskApi/bin/RWBTaskDAL.dll
RWBTaskApi/bin/RWBTaskDAL.pdb
RWBTaskApi/bin/System.Net.Http.Formatting.dll
RWBTaskApi/bin/System.Net.Http.Formatting.xml
RWBTaskApi/bin/System.Web.Cors.dll
RWBTaskApi/bin/System.Web.Helpers.dll
RWBTaskApi/bin/System.Web.Helpers.xml
RWBTaskApi/bin/System.Web.Http.Cors.dll
RWBTaskApi/bin/System.Web.Http.Cors.xml
RWBTaskApi/bin/System.Web.Http.dll
RWBTaskApi/bin/System.Web.Http.WebHost.dll
RWBTaskApi/bin/System.Web.Http.WebHost.xml
RWBTaskApi/bin/System.Web.Http.xml
RWBTaskApi/bin/System.Web.Mvc.dll
RWBTaskApi/bin/System.Web.Mvc.xml
RWBTaskApi/bin/System.Web.Optimization.dll
RWBTaskApi/bin/System.Web.Optimization.xml
RWBTaskApi/bin/System.Web.Razor.dll
RWBTaskApi/bin/System.Web.Razor.xml
RWBTaskApi/bin/System.Web.WebPages.Deployment.dll
RWBTaskApi/bin/System.Web.WebPages.Deployment.xml
RWBTaskApi/bin/System.Web.WebPages.dll
RWBTaskApi/bin/System.Web.WebPages.Razor.dll
RWBTaskApi/bin/System.Web.WebPages.Razor.xml
RWBTaskApi/bin/System.Web.WebPages.xml
RWBTaskApi/bin/WebGrease.dll
RWBTaskApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RWBTaskApi/obj/Debug/RWBTaskApi.csproj.FileListAbsolute.txt
RWBTaskApi/obj/Debug/RWBTaskApi.csprojResolveAssemblyReference.cache
RWBTaskApi/obj/Debug/RWBTaskApi.dll
RWBTaskApi/obj/Debug/RWBTaskApi.pdb
RWBTaskApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RWBTaskApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RWBTaskApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RWBTaskDAL/bin/Debug/EntityFramework.dll
RWBTaskDAL/bin/Debug/EntityFramework.xml
RWBTaskDAL/bin/Debug/RWBTaskDAL.dll
RWBTaskDAL/bin/Debug/RWBTaskDAL.dll.config
RWBTaskDAL/bin/Debug/RWBTaskDAL.pdb
RWBTaskDAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RWBTaskDAL/obj/Debug/edmxResourcesToEmbed/TWBTaskModel.csdl
RWBTaskDAL/obj/Debug/edmxResourcesToEmbed/TWBTaskModel.msl
RWBTaskDAL/obj/Debug/edmxResourcesToEmbed/TWBTaskModel.ssdl
RWBTaskDAL/obj/Debug/RWBTaskDAL.csproj.FileListAbsolute.txt
RWBTaskDAL/obj/Debug/RWBTaskDAL.dll
RWBTaskDAL/obj/Debug/RWBTaskDAL.pdb
RWBTaskDAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RWBTaskDAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RWBTaskDAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RWBTaskDAL/obj/Debug/TempPE/TWBTaskModel.cs.dll
RWBTaskDAL/obj/Debug/TempPE/TWBTaskModel.Designer.cs.dll
RWBTaskWeb/bin/Microsoft.AI.Agent.Intercept.dll
RWBTaskWeb/bin/Microsoft.AI.DependencyCollector.dll
RWBTaskWeb/bin/Microsoft.AI.PerfCounterCollector.dll
RWBTaskWeb/bin/Microsoft.AI.ServerTelemetryChannel.dll
RWBTaskWeb/bin/Microsoft.AI.Web.dll
RWBTaskWeb/bin/Microsoft.AI.WindowsServer.dll
RWBTaskWeb/bin/Microsoft.ApplicationInsights.dll
RWBTaskWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
RWBTaskWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
RWBTaskWeb/bin/Newtonsoft.Json.dll
RWBTaskWeb/bin/System.Net.Http.Formatting.dll
RWBTaskWeb/bin/System.Web.Cors.dll
RWBTaskWeb/bin/System.Web.Http.Cors.dll
RWBTaskWeb/bin/System.Web.Http.dll
TWBTaskWeb
