<table class="table table-hovered table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sport</th>
            <th>Category</th>
            <th>League</th>
            <th>Start Time</th>
        </tr>
    </thead>
    <tbody *ngIf="rwbEvents">
        <tr *ngFor="let ev of rwbEvents;">
            <td>{{ev.Name}}</td>
            <td>{{ev.Sport}}</td>
            <td>{{ev.Category}} 
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Market Name</th>
                                <th>Is Live</th>
                                <th>Line Name</th>
                                <th>Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let em of ev.EventMarkets" >
                                <td>{{em.Name}}</td>
                                <td>{{em.IsLive}}</td>
                                <td>{{em.LineName}}</td>
                                <td id="mid_{{em.id}}_{{em.lineId}}">
                                    {{em.Price}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                
            </td>
            <td>{{ev.League}}</td>
            <td>{{ev.StartTime}}</td>
        </tr>
    </tbody>
</table>
<task></task>